include AUTHORS.md
include LICENSE
include README.md
include requirements.txt
include example.py

recursive-include geotiff *.py
recursive-include docs *.md
recursive-include tests *.py *.tif

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude .pre-commit-config.yaml
